In [28]:
import pandas as pd
import glob

In [52]:
def formatter(year, index, dfname):
    months = []
    stryear = str(2008 + index)
    
    def dateformat(x):
        return str(x) + "/i/" + stryear
    
    for i in range(1, 13):
        month = year.iloc[:, [0, i]]
        month = month.rename(columns = {str(i) : dfname})
       
        #month = month.drop(month[month[dfname] < 0].index)
        
        month['date'] = month['date'].apply(dateformat)
        month['date'] = month['date'].str.replace('i', str(i))
                
        months.append(month)
        
    return pd.concat(months).fillna(0)

In [67]:
path = '.\Data' 
all_files = glob.glob(path + "/*.csv")

In [68]:
all_files

['.\\Data\\H.csv', '.\\Data\\KTTV.csv', '.\\Data\\Q.csv']

In [63]:
dfs = []

for filename in all_files:
    
    dfname = filename[9:-4]
    df = pd.read_csv(filename)
    
    years = []

    for i in range(12): #2008-2019
        istart = i * 32 + 1
        year = pd.DataFrame(data=df[istart:istart+31])
        year = year.rename(columns = {'Unnamed: 0': 'date'})
        
        year = formatter(year, i, dfname)
        years.append(year)
        
    years = pd.concat(years)
    years = years.set_index('date')
    dfs.append(years)
    print(dfname + " succeed")
    
bigframe = pd.concat(dfs, axis=1)

Q - HN succeed
Q - ST succeed
Q - TC succeed

In [34]:
bigframe = bigframe.drop(bigframe[bigframe['BaVi - rain'] < 0].index)

In [64]:
bigframe.describe()

             Q - HN        Q - ST       Q - TC
count   4464.000000   4464.000000  4464.000000
mean    1982.514113   3049.288306  1114.762993
std     1445.800170   2168.712823   757.899107
min        0.000000      0.000000     0.000000
25%     1020.000000   1520.000000   632.750000
50%     1590.000000   2510.000000   888.000000
75%     2500.000000   3910.000000  1362.500000
max    10600.000000  14800.000000  6030.000000

In [65]:
bigframe.to_csv(path + '\Q.csv')

In [69]:
dfs = []
for filename in all_files:
    df = pd.read_csv(filename)
    dfs.append(df)
bigframe = pd.concat(dfs, axis=1)

In [72]:
bigframe.describe()

,H TC,H - BT,H - HN,H - ST,H - TH,BaVi - ev,BaVi - rain,BaVi - temp,HD - ev,HD - temp,Lang - ev,Lang - rain,Lang - temp,ST - ev,ST - rain,ST - temp,Q - HN,Q - ST,Q - TC
count,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000,4383.000000
mean,217.429158,107.808350,247.034908,510.341091,935.446726,1.850148,5.181132,23.744946,2.714898,24.317431,2.577367,4.622177,3.303422,1.870272,4.717545,24.161123,2019.151951,3105.640657,1135.364362
std,140.434270,107.800563,150.191401,197.740173,144.266796,1.096319,16.119108,5.376512,1.380828,5.306853,1.300365,14.687883,146.878114,0.977685,14.913955,5.300147,1433.521252,2148.302734,749.422097
min,0.000000,-13.000000,0.000000,118.000000,0.000000,0.000000,0.000000,6.500000,0.100000,7.100000,0.200000,0.000000,-999.000000,0.100000,0.000000,6.700000,189.000000,493.000000,222.000000
25%,124.000000,41.000000,144.000000,365.000000,832.000000,1.100000,0.000000,20.000000,1.800000,20.500000,1.700000,0.000000,20.400000,1.200000,0.000000,20.400000,1040.000000,1550.000000,647.500000
50%,178.000000,68.000000,204.000000,477.000000,921.000000,1.800000,0.000000,25.100000,2.600000,25.700000,2.400000,0.000000,26.000000,1.800000,0.000000,25.500000,1620.000000,2550.000000,897.000000
75%,263.000000,129.000000,303.000000,626.500000,1019.000000,2.400000,2.000000,28.000000,3.500000,28.500000,3.300000,1.500000,29.000000,2.400000,1.600000,28.300000,2520.000000,3945.000000,1380.000000
max,974.000000,623.000000,1028.000000,1216.000000,1582.000000,12.500000,256.900000,36.600000,14.900000,36.200000,11.200000,347.000000,36.900000,8.300000,267.300000,35.700000,10600.000000,14800.000000,6030.000000

In [71]:
bigframe = bigframe.drop(bigframe[bigframe['BaVi - rain'] < 0].index)

In [73]:
bigframe.to_csv(path + '\water.csv')